@import "../../styles/theme.scss";

.card {
    display: flex;
    width: auto;
    min-width: 300px;
    max-width: 500px;
    height: max-content;
    padding: 0;
    border-radius: 0.3rem;
    flex-direction: column;

    .status {
        border-radius: 8px 8px 0 0;
        height: 0.3rem;
        width: 100%;
    }
}

.tab_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    :first-child {
        border-radius: 8px 0 0 0;
    }
    :last-child {
        border-radius: 0 8px 0 0;
    }
}
.tab {
    height: 0.3rem;
    width: 100%;
}

.tab_title {
    font-family: $font-stack;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}
.tab_icon {
    width: 25px;
    height: 25px;
    margin: 0 20px;
}

.bar_line {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 3px;
}
.bar_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
}
.bar_icon {
    width: 25px;
    height: 25px;
    margin: 0 20px;
    align-items: center;
}
.bar {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0px;
    border-top: 1px $secondary solid;
    padding: 0.6rem 0;
    margin-top: 0.3rem;
}

.bar:hover {
    background-color: lighten($secondary, 25);
    color: $primary;
}

.row {
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    overflow-wrap: break-word;
    margin: 0.5rem 1.5rem;
}
.column {
    width: 100%;
    min-width: 20%;
}
