@import "../../styles/theme.scss";

$GridColumnsNum: 1;
$GridCardMinWidth: 400px;
$GridGap: 2rem;

.grid {
    width: inherit;
    height: 100%;
    grid-template-columns: repeat(auto-fill, clamp(350px, 100%, 500px));
    grid-template-rows: repeat(10, max-content);
    display: grid;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-right: solid 1px $secondary;
    @media (max-width: 2000px) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
    }
}
.grid::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    flex-direction: row;
    border-top: solid 1px $secondary;
    @media (max-width: 600px) {
        flex-direction: column;
    }
    overflow: hidden;
    justify-content: center;
}

.autoDisplay {
    @media (max-width: 1200px) {
        display: none;
        justify-content: center;
    }
}
