$font-stack: 'Roboto', sans-serif;
$redhero: #E02041;
$titulo-1: #13131A;
$titulo-2: #41414D;
$texto-1: #737380;
$texto-2: #A8A8B3;
$input: #FFFFFF;
$linha-input: #DCDCE6;


$primary: #E02041;
$secondary: #8e8ea0;
$success: #1F7A50;
$info: #44ACF9;
$warning: #F9A944;
$danger: #E02041;
$light: #ffffff;
$dark: #13131A;
$background: #f0f0f5;

$base-color-primary: #E02041;
$base-color-secondary: #8e8ea0;
$base-color-success: #1F7A50;
$base-color-info: #44ACF9;
$base-color-warning: #F9A944;
$base-color-danger: #E02041;
$base-color-light: #ffffff;
$base-color-dark: #13131A;
$base-color-background: #f0f0f5;
