$font-stack: 'Roboto', sans-serif;
$redhero: #E02041;
$titulo-1: #13131A;
$titulo-2: #41414D;
$texto-1: #737380;
$texto-2: #A8A8B3;
$input: #FFFFFF;
$linha-input: #DCDCE6;


$primary: #E02041;
$secondary: #737380;
$success: #1F7A50;
$info: #44ACF9;
$warning: #F9A944;
$danger: #E02041;
$light: #fff;
$dark: #13131A;
$background: #F0F0F5;