$font-stack: "Roboto", sans-serif;
$redhero: #e02041;
$titulo-1: #13131a;
$titulo-2: #41414d;
$texto-1: #737380;
$texto-2: #a8a8b3;
$input: #ffffff;
$linha-input: #dcdce6;

$primary: #e02041;
$secondary: #8e8ea0;
$success: #1f7a50;
$info: #44acf9;
$warning: #f9a944;
$danger: #e02041;
$light: #ffffff;
$dark: #13131a;
$background: #f0f0f5;

$light-primary: #e02041;
$light-secondary: #8e8ea0;
$light-success: #1f7a50;
$light-info: #44acf9;
$light-warning: #f9a944;
$light-danger: #e02041;
$light-light: #ffffff;
$light-dark: #13131a;
$light-background: #f0f0f5;

$dark-primary: #e02041;
$dark-secondary: #8e8ea0;
$dark-success: #1f7a50;
$dark-info: #44acf9;
$dark-warning: #f9a944;
$dark-danger: #e02041;
$dark-light: #ffffff;
$dark-dark: #13131a;
$dark-background: #f0f0f5;
