.TitleText{
    display: flex;
    flex-direction:column;
    width: 100%;
    min-width: 30%;
}
.text{
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
}
.title{
    font-style:normal;
    font-weight: 500;
    font-size: .8rem;
    text-transform: uppercase;
    margin: 0;
}